<h3>Leveraging formControls and formGroups</h3>

<p>Time to put the template variables to use!</p>

<ul><li>Both the local variables on the <code>ngControl</code> inputs and the <code>ngControlGroup</code> containers contain boolean values such as <code>valid</code> and <code>touched</code></li><li>We can bind a class to the validity of a control (or control group) by using an attribute directive set to <code>!controlName.valid</code></li><li>We can show/hide error messages by setting <code>*ngIf</code> to the same</li><li>We can keep error messages from showing up immediately by providing <code>controlName.dirty</code> as an additional flag to the <code>*ngIf</code> statement e.g.</li></ul>

<p><code>html
&lt;span *ngIf=&quot;controlName.dirty &amp;&amp; !controlName.valid&quot;&gt;Message...&lt;/span&gt;
</code></p>

<ul><li>Angular also places classes on controls based on their state. For example, we could use css to set an input border to red when it has the class <code>ng-invalid</code> like so:
<code>css
input.ng-invalid {
border-color: red;
}
</code>
You can use the developer tools in your browser to view all the different classes Angular puts on controls. You can also log the local template variable that contains the instance of your control to the console to see the different flags you can use.</li></ul>
