<md-toolbar>
  <div class="md-toolbar-tools">
    <div layout-margin layout layout-align="center">
      <h1>Code</h1>
    </div>
  </div>
</md-toolbar>
<md-tab-group md-margin-bottom md-dynamic-height md-border-bottom>
  <md-tab>
    <template md-tab-label>src/components/my.component.ts</template>
    <template md-tab-content>
      <md-content class="md-padding">
         <pre highlight><code class="js">
import &#123; Component, ViewEncapsulation } from '@angular/core';

@Component(&#123;
  selector: 'my-component',
  template: `
    &lt;md-list&gt;
      &lt;md-subheader class=&quot;md-no-sticky&quot;&gt;
        &lt;div layout layout-align=&quot;space-between center&quot;&gt;
          &lt;h3&gt;Items&lt;/h3&gt;
          &lt;button (click)=&quot;toggleList()&quot; md-button md-raised-button class=&quot;md-secondary&quot;&gt;Toggle List&lt;/button&gt;
        &lt;/div&gt;
      &lt;/md-subheader&gt;
      &lt;div *ngIf=&quot;showList&quot;&gt;
        &lt;md-list-item [ngClass]=&quot;&#123;stripe: index % 2 === 0}&quot; class=&quot;md-3-line inset&quot; *ngFor=&quot;let item of items; let index = index&quot;&gt;
          &lt;div class=&quot;md-list-item-text&quot; layout=&quot;column&quot;&gt;
            &lt;h3&gt;ID:
              &lt;strong&gt;&#123; &#123; index + 1 } }&lt;/strong&gt;
            &lt;/h3&gt;
            &lt;h4&gt;&#123; &#123; item.name } }&lt;/h4&gt;
            &lt;p&gt;&#123; &#123; item.description } }&lt;/p&gt;
          &lt;/div&gt;
        &lt;/md-list-item&gt;
      &lt;/div&gt;
    &lt;/md-list&gt;
  `,
  styles: [` .stripe &#123; background-color: whitesmoke; } `]
})

export class MyComponent &#123;
  private items: Array<&#123;name: String, description: String}> = [
    &#123; name: 'Item 1', description: 'Epic item!' },
    &#123; name: 'Item 2', description: 'As great as the first!' },
    &#123; name: 'Last One', description: 'A round of applause for this one' }
  ];

  private showList: Boolean = true;

  toggleList() &#123;
    this.showList = !this.showList;
  }
}
            </code>
          </pre>
      </md-content>
    </template>
  </md-tab>
</md-tab-group>
